// main: style.scss
/*--------------------------------------------------------------
# Site
--------------------------------------------------------------*/
/* Top Bar */
.site-topbar {
    line-height: 46px;
    background: $primary;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #FFFFFF;
    position: relative;
    z-index: 50;
    &:after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.1);;
        z-index: 10;
    }
    a {
        color: #ffffff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .home-menu a {
        padding: 0px 20px;
        text-align: center;
        display: block;
        width: 56px;
        float: left;
        position: relative;
        margin-right: 1px;
        i {
            font-size: 19px;
            position: relative;
            top: 0px;
        }
        &:hover {
            background: #FFFFFF;
            i {
                color: $primary;
            }
        }
        &:before {
            content: "";
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            bottom: 1px;
            left: -2px;
            background: rgba(255, 255, 255, 0.15);
            z-index: 10;
        }
        &:after {
            content: "";
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            bottom: 1px;
            left: -1px;
            background: rgba(0, 0, 0, 0.1);
            z-index: 10;
        }
    }
}

/* Topbar Right */
.topbar-left {
    margin-left: 1px;
}

/* Topbar Right */
.topbar-right {
    margin-right: 1px;
}


.topbar-elements {
    margin: 0px;
    padding: 0px;
    position: relative;
    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        position: absolute;
        bottom: 1px;
        right: -2px;
        background: rgba(255, 255, 255, 0.15);
        z-index: 10;
    }
    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        position: absolute;
        bottom: 1px;
        right: -1px;
        background: rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
    li {
        position: relative;
        padding: 0px 22px;
        font-family: "Raleway",Helvetica,Arial,sans-serif;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.4px;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 50;
        -webkit-transition: all 0.2s ease-out 0s;
    	transition: all 0.2s ease-out 0s;
        display: block;
        float: left;
        i {
            position: relative;
            top: -1px;
        }
        span {
            margin-left: 7px;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &:hover {
            background: #FFFFFF;
            color: $primary;
            span, i{
                color: $primary;
            }
            .dropdown-content {
                display: block;
            }
        }
        &:before {
            content: "";
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            bottom: 1px;
            left: -2px;
            background: rgba(255, 255, 255, 0.15);
            z-index: 10;
        }
        &:after {
            content: "";
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            bottom: 1px;
            left: -1px;
            background: rgba(0, 0, 0, 0.1);
            z-index: 10;
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0px;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        color: $text;
        min-width: 300px;
    }
    .search-form {
        input[type="search"] {
            padding: 9px 10px;
        }
        .search-submit {
            line-height: 15px;
            top: 3px;
            padding: 11px 20px;
        }
    }

}

.search-form {
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
    label {
        margin: 0px;
        width: 100%;
        line-height: 1;
    }
    input[type="search"] {
        box-sizing: border-box;
        width: 100%;
        position: relative;
    }
    input {
        line-height: 18px;
    }
    .search-submit {
        position: absolute;
        right:0px;
        top: 0px;
        padding: 11px 20px 12px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}



/* Site Header
--------------------------------------------------------------*/
.site-header {
    //margin-top: 40px;
    @include rem('margin-top', 40px);
    .site-branding {
        width: 100%;
        text-align: center;
        .site-title {
            @include rem('font-size', 40px);
            font-family: $font_heading;
            color: $heading;
            font-weight: 600;
            text-transform: uppercase;
            @include rem('margin-bottom', 7px);
            line-height: 1.1;
            a {
                color: $heading;
                &:hover {
                    color: $primary;
                }
            }
        }
        .site-description {
            color: #888888;
            font-style: italic;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

/* Site Main Content
--------------------------------------------------------------*/

/* Site Footer
--------------------------------------------------------------*/
.footer-shadow {
    margin: 0 auto;
    text-align: center;
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.site-footer {
    @include rem('padding', 20px 0px 50px);
    @include media-breakpoint-down(md) {
        @include rem('padding', 40px 0px 40px);
    }
    text-align: center;
    .site-info {
        @include rem('font-size', 13px);
        color: $meta_color;
        p {
            margin-bottom: 4px;
        }
    }
}
.footer-navigation {
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            display: inline-block;
            margin: 0px 15px 15px;
            a {
                @include rem('font-size', 16px);
                font-family: $font_heading;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
