// main: style.scss
/*--------------------------------------------------------------
# Widgets Area & Widget Items
--------------------------------------------------------------*/
/* Widget Stuffs
--------------------------------------------------------------*/
.widget-title {
    @include rem('font-size', 19px);
    font-weight: 500;
    @include rem('margin-bottom', 15px);
    a {
        color: $primary;
        &:hover {
            color: $text;
        }
    }
    // border-bottom: 1px solid $border;
    // @include rem('font-size', 19px);
    // font-weight: 500;
    // @include rem('padding', 0 0 6px);
    // @include rem('margin-bottom', 20px);
}

.widget {
    @include rem('margin-bottom', 25px);
    @include rem('font-size', 15px);
    a {
        color: $text;
        &:hover{
            color: $primary;
            text-decoration: none;
        }
    }
    ul {
        margin-bottom: 0px;
        padding: 0px;
        list-style: none;
        li {
            margin: 8px 0px;
        }
    }
}
.widget .widget-title {
    a {
        color: $primary;
        &:hover {
            color: $text;
        }
    }
}
/* Categories
--------------------------------------------------------------*/
.widget_categories {
    ul {
        li {
            padding-left: 12px;
            position: relative;
            &:before {
                content: "\f105";
                font-family: FontAwesome;
                display: block;
                @include rem('font-size', 14px);
                color: $text;
                position: absolute;
                top: 2px;
                left: 0px;
            }
            &:hover .cat-count {
                background: $primary;
            }
            a {
                display: block;
            }
            .cat-count {
                background: #cacaca none repeat scroll 0 0;
                border-radius: 20px;
                color: #FFFFFF;
                font-size: 11px;
                font-weight: bold;
                line-height: 20px;
                padding: 0 10px;
                position: absolute;
                right: 5px;
                top: 0;
            }
        }
    }
}


/* Recent Comments
--------------------------------------------------------------*/
.widget.widget_recent_comments {
    li {
        @include rem('margin-bottom', 6px);
        @include rem('padding-bottom', 6px);
    }
    .comment-author-link {
        font-weight: bold;
        a {
            color: $primary;
        }
    }
    a {
        color: $primary;
    }
}

/* Tag Cloud
--------------------------------------------------------------*/
.widget_tag_cloud {
    a {
        @include rem('font-size', 13px !important);
        padding: 3px 10px 3px;
        // background: #bbb;
        border: 1px solid $border;
        color: #888;
        margin-bottom: 5px;
        display: inline-block;
        border-radius: 2px;
        &:hover {
            border-color: $primary;
        }
    }
}
